
body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* Navigation Bar */

#home-cover {
  background-color: #222831;
  background-image: url(../images/background.png);
  height: calc(100vh);
  background-size: cover;
  background-position: center;
}

.navbar-dark {
  padding: 3px 15% 3px 15%;
  border-bottom: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.navbar-dark.color-changed {
background-color: #222831 !important;
border-color: transparent !important;
}

#cover .navbar-brand {
  font-weight: 800;
  color: #00AEEF;
  font-size: 2rem;
  padding: 0;
}

.dropdown-menu {
  border: 0;
}

.brand-k {
  color: #fff;
}

.brand-rents {
  font-weight: 200;
  color: #fff;
  font-size: 1.5rem;
}

.nav-item {
  color: #fff;
  text-align: center;
  padding: 0 0.5rem;
  font-weight: 200;
}

.dropdown-item {
  text-align: center;
}

.cover-content {
  padding: 12% 15% 0;
}

.cover-welcome {
  font-weight: 300;
  font-size: 2rem;
}

.cover-heading {
  font-weight: 700;
  font-size: 5rem;
  margin: 3.5rem 0 2rem 0;
}

.cover-apply {
  border-radius: 0.2rem;
  background-color: #00AEEF;
  border-color: #00AEEF;
  margin-right: 2rem;
}

.cover-apply:hover{
  background-color: #fff;
  border-color: #fff;
  color: #222831;
}

#cover .cover-contact {
  border-radius: 0.2rem;
}

#about-us {
  color: #222831;
  padding: 4% 20% 4% 20%;
  text-align: center;
}

.about-us-content h1{
  font-size: 2rem;
}

.about-us-content p{
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 300;
}

#properties {
  padding: 0 15%;
  text-align: center;
  color: #222831;
}

#properties h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.custom-card {
  border: 0;
  background-color: #FBFBFB;
  font-size: 1rem;
  line-height: 2;
  margin: 2rem 2rem;
}

.card-header {
  border: 0;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #EFEFEF;
}

.card-btn {
  margin: 0.5rem;
  background-color: #00AEEF;
  border-radius: 0.2rem;
  border-color: #00AEEF;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
}

.card-btn:hover{
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  color: #222831;
}

#location {
  text-align: center;
}

.location-header {
  background-color: #00AEEF;
  height: 300px;
  margin-top: -9rem;
  z-index: -1;
}

.location-content{
  margin-top: -6rem;
  padding: 0 10%;
}

#location h1 {
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;

}

.marker-btn {
  border-radius: 100%;
  background: #fff;
  border: 0;
  padding: 0.46rem 0.55rem;
  color: #373737;
  margin: 0 0.3rem;
}

.marker-btn:hover{
  color: #00AEEF;
  background: #fff;
}

#map {
  margin-top: 2rem;
  height: 800px;
  width: 100%;
}

#apply-now {
  background-color: #57585A;
  padding: 1.8% 20%;
  text-align: left;
}

#apply-now h2{
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
}

.btn-col {
  text-align: right;
}

#footer {
  padding: 2% 20% 1px 20%;
  background-color: #2B2C2D;
}

.footer-container{
  height: 10rem;
}

.footer-container h3{
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.footer-container p{
  font-size: 1rem;
  font-weight: 200;
}

.copyright-text{
  text-align: center;
}

.copyright-text p {
  color:  rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 300;
}

/* #############################################################################
################################################################################
                       Student Info Page Styling
################################################################################
############################################################################# */

#studentinfo-cover {
  background-color: #222831;
  background-image: url(../images/house1.png);
  height: calc(70vh);
  background-size: cover;
  background-position: center;

}

/* #############################################################################
################################################################################
                       Contact Us Page Styling
################################################################################
############################################################################# */

#contact-cover {
  background-color: gray;
  background-image: url(../images/simple.jpg);
  height: calc(100vh);
  background-size: cover;
  background-position: center;
}

.contact-cover-content {
  padding: 10% 15%;
}

.contact-cover-content h1{
  font-weight: 700;
  font-size: 5rem;
}

.contact-button {
  border-radius: 0.2rem;
  background-color: #00AEEF;
  border-color: #00AEEF;
  margin-top: 2rem;
}

.contact-button:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.contact-button:focus{
  color: #fff;
  background-color: #00AEEF;
  border-color: #00AEEF;
  box-shadow: none;
}

#contact-form {
  padding: 10% 15%;
  color: #222831;
}

#contact-cover label{
  font-size: 1rem;
  font-weight: 300;
}

#contact-form p{
  padding: 5% 10% 5% 0;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 300;

}

/* Form positioning */

.first-name {
  padding-right: 0.25rem;
}

.last-name {
  padding-left: 0.25rem;
}

.form-text-input {
  margin-bottom: 0.5rem;
}

.form-text-3rd {
  font-weight: 200;
  font-size: 0.8rem;
}

.form-button {
  border-radius: 0.2rem;
  background-color: #00AEEF;
  border-color: #00AEEF;
  margin-top: 2rem;
}

.form-button:hover {
  background-color: #00AEEF;
  border-color: #00AEEF;
  color: #fff;
}
